$activeColor: #ED2222;
$assignColor: #ff8587;
@mixin ellipsis{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@mixin vertical{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  -webkit-box-align: center;
}
@mixin ellipsisMulti($lineNum:1){
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $lineNum;
    -webkit-box-orient: vertical;
}

// @extend .select-arrow 下拉小箭头 (active击中)
.select-arrow {
  &::after {
    content: " ";
    width: 4px;
    height: 4px;
    display: inline-block;
    border: 1px solid #666;
    border-left: 0;
    border-top: 0;
    transform: translateY(-2px) rotate(45deg);
    transition: transform .2s linear;
  }
  &.active {
    color: $activeColor;
    &::after {
      border-color: $activeColor;
      transform: rotate(-135deg);
    }
  }
}
