
@import "./app";
/**********************************/
/*****    reset ui *********/
.mint-checkbox-core {
    &.checked {
        background-color: $activeColor;
        border-color: $activeColor;
        &:after {
            border-color: #fff;
            -webkit-transform: rotate(45deg) scale(1);
            transform: rotate(45deg) scale(1);
        }
    }
}

.button.disabled {
    background: #999 !important;
    color: #fff !important;
    border: #999 !important;
}
/*****          end      ***********/
/***********************************/