@import "../../styles/app";
.cartsPage {
    .mint-checkbox-core.checked {
        background-color: $activeColor;
        border-color: $activeColor;
        &:after {
            border-color: #fff;
            -webkit-transform: rotate(45deg) scale(1);
            transform: rotate(45deg) scale(1);
        }
    }
    .cart-list {
        li {
            height: 2.56rem;
            overflow: hidden;
            @include vertical();
        }
        .radio {
            width: .88rem;
            float: left;
            text-align: center;
        }
        .img-box {
            position: relative;
            width: 1.88rem;
            height: 1.88rem;
            float: left;
        }
    }
}